= simple_form_for(<%= form_for %>) do |f|
  %div{role: 'tabpanel'}
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        %a{'data-toggle': 'tab', role: 'tab', 'aria-controls': '<%= resource.name %>-tab', href: '#<%= resource.name %>-tab'}
          <%= resource.human_name.titleize %>

<% resource.nested_attributes.each do |reference| -%>
      %li{role: 'presentation'}
        %a{'data-toggle': 'tab', role: 'tab', 'aria-controls': '<%= reference.name %>-tab', href: '#<%= reference.name %>-tab'}
          <%= reference.name.to_s.titleize %>

<% end -%>
  .tab-content
    #<%= resource.name %>-tab.tab-pane.active{role: 'tabpanel'}
      = render 'form_<%= resource.name %>', f: f

<% resource.nested_attributes.each do |reference| -%>
    #<%= reference.name %>-tab.tab-pane{role: 'tabpanel'}
      = render 'form_<%= reference.name %>', f: f

<% end -%>
  %hr

<% if defined?(EffectiveResources) -%>
  = simple_form_submit(f)
<% else -%>
  %p.text-right
    = f.button :submit, 'Save', data: { disable_with: 'Saving...' }
    = f.button :submit, 'Save and Continue', data: { disable_with: 'Saving...' }
    = f.button :submit, 'Save and Add New', data: { disable_with: 'Saving...' }
<% end -%>
