= simple_form_for(<%= form_for %>) do |f|
  %div{role: 'tabpanel'}
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        %a{'data-toggle': 'tab', role: 'tab', 'aria-controls': '<%= singular_name %>-tab', href: '#<%= singular_name %>-tab'}
          <%= singular_name.to_s.titleize %>

<% for nested_attribute in nested_attributes -%>
      %li{role: 'presentation'}
        %a{'data-toggle': 'tab', role: 'tab', 'aria-controls': '<%= nested_attribute %>-tab', href: '#<%= nested_attribute %>-tab'}
          <%= nested_attribute.to_s.titleize %>

<% end -%>
  .tab-content
    #<%= singular_name %>-tab.tab-pane.active{role: 'tabpanel'}
      = render 'form_<%= singular_name %>', f: f

<% for nested_attribute in nested_attributes -%>
    #<%= nested_attribute %>-tab.tab-pane{role: 'tabpanel'}
      = render 'form_<%= nested_attribute %>', f: f

<% end -%>
  %hr

<% if defined?(EffectiveResources) -%>
  = simple_form_submit(f)
<% else -%>
  %p.text-right
    = f.button :submit, 'Save', data: { disable_with: 'Saving...' }
    = f.button :submit, 'Save and Continue', data: { disable_with: 'Saving...' }
    = f.button :submit, 'Save and Add New', data: { disable_with: 'Saving...' }
<% end -%>
